canvas.dataChart {
  padding: 0;
  margin: auto;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Display Page CSS*/
.month-buttons{
  padding:5px 5px 5px 5px;
}

.year-buttons{
  
  padding:5px 5px 5px 5px;
}

/* Text input CSS */
.numberInput {
  width: 250px !important;
}

/* Navbar CSS */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a.dropdown-item {
color:black;
}

/*.navbar li a:hover {
  color: grey;
}*/

.buttonStyle {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* Custom Card Styling */
.card-label label, .card-label p {
  display: inline-block;
}

.card-label label {
  margin-right: 7%;
}

.card-title h5, .card-title button {
  display: inline-block;
}

.custom-card-style {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin:15px;
}

.stats {
  height: 500px;
  overflow-y: auto;
}